<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Calculator</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
<div class ="container">
  <div class="row">
    <div class="col-12 flex-column justify-content-center d-flex align-items-center m-3">
      <h1>Simple Calculator</h1>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" href="/bmi-calculator">BMI Calculator</a>
        <li class="nav-item">
          <a class="nav-link disabled" href="">Simple Calculator</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 flex-row justify-content-center d-flex align-items-center gap-3">
      <label class="text-center">
        Masukan Angka <input type="number" class="angka1 form-control">
      </label>
      <label class="text-center">
        Tekan tombol operasi -> hasil <input type="number" class="angka2 form-control">
      </label>
    </div>
    <div class="col-12 flex-row justify-content-center d-flex align-items-center m-3">
      <button type="button" class="btn btn-primary operator">X</button>
      <button type="button" class="btn btn-secondary operator">/</button>
      <button type="button" class="btn btn-success operator">+</button>
      <button type="button" class="btn btn-danger operator">-</button>
      <button type="button" class="btn btn-warning operator">Pangkat</button>
      <button type="button" class="btn btn-info operator">Akar</button>

    </div>
    <div class="col-12 flex-row justify-content-center d-flex align-items-center gap-3 m-3">
      <button class="btn btn-outline-success hasilbtn">Hasil</button>
        <label>
          <input type="number" class="hasil form-control hasil" readonly="readonly">
        </label>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="js/calculator.js"></script>
</body>
</html>
